<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="icon" type="image/svg+xml" href="{{ '/assets/favicon.svg' | relative_url }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon-2x.png' | relative_url }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon.png' | relative_url }}" />
</head>
<body>
    <nav>

        <ol>
          <li>
            <b>Overview</b>

            <li>
              <a {% if page.url == "/" %}class="active"{% endif %} href="{{ '/' | relative_url }}">Introduction</a>
            </li>
            <li>
              <a href="https://api.wattcarbon.com/" target="_blank">Live API Documentation</a>
            </li>
            <li>
              <a href="{{ '/automated_m_and_v.html' | relative_url }}">Automated M&amp;V</a>
            </li>

        {% for collection in site.collections %}
          {% unless collection.docs.size == 0 %}
            <li>
              <b>{{ collection.title }}</b>

              <ol>
                {% for item in collection.docs %}
                  <li>
                    <a {% if item.url == page.url %}class="active"{% endif %} href="{{ item.url | relative_url }}">{{ item.nav | default: item.title }}</a>
                  </li>
                {% endfor %}
              </ol>
            </li>
          {% endunless %}
        {% endfor %}
        </ol>
    </nav>
    <div class="main">
      <header>
        <h1>{{ page.title }}</h1>
        {% if page.last_updated %}
          <p class="last-updated">Last updated: <time datetime="{{ page.last_updated | date_to_xmlschema }}">{{ page.last_updated | date_to_string: "ordinal", "US" }}</time>
        {% endif %}
      </header>
      <main>
        {{ content }}
      </main>
    </div>
</body>
</html>
